{{#if editEntryForm}}
  <h1>Edit Entry</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="title">Title:</label>
          {{input value=title id="title" placeholder=post.title}}
        </div>

        <div class="form-group">
          <label for="author">Author:</label>
          {{input value=author id="author" placeholder=post.author}}
        </div>

        <div class="form-group">
        {{#x-select value=dropdown}}
          {{#x-option value="shortRide"}}Short ride{{/x-option}}
          {{#x-option value="longRide"}}Long ride{{/x-option}}
          {{#x-option value="shortHike"}}Short hike{{/x-option}}
          {{#x-option value="longHike"}}Long hike{{/x-option}}
        {{/x-select}}
        </div>

        <div class="form-group">
          <label for="body">Body:</label>
          {{input value=body id="body" placeholder=post.body}}
        </div>

        <div class="form-group">
          <label for="image">Image:</label>
          {{input value=image id="image" placeholder=post.image}}
        </div>
        <button class="btn btn-primary btn-sm" {{action 'editEntry' post}}>Submit</button>
      </form>
    </div>
{{else}}
    <button id="edit" class="btn btn-info btn-xs" {{action 'editEntryForm'}}>Edit</button>
{{/if}}
