{{#if newBlogPost}}
  <h1>New Entry</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="title">Title:</label>
          {{input value=title id="title"}}
        </div>

        <div class="form-group">
          <label for="author">Author:</label>
          {{input value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="body">Body:</label>
          {{input value=body id="body"}}
        </div>

        <div class="form-group">
          <label for="image">Image:</label>
          {{input value=image id="image"}}
        </div>
        <button {{action 'submitEntry'}}>Submit</button>
      </form>
    </div>
{{else}}
    <button {{action 'showEntryForm'}}>New Entry</button>
{{/if}}
