{{#if newBlogPost}}
  <h1>New Entry</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="title">Title:</label><br>
          {{input value=title id="title"}}
        </div>

        <div class="form-group">
          <label for="author">Author:</label><br>
          {{input value=author id="author"}}
        </div>

        <div class="form-group">
        {{#x-select value=dropdown}}
          {{#x-option value="shortRide"}}Short ride{{/x-option}}
          {{#x-option value="longRide"}}Long ride{{/x-option}}
          {{#x-option value="shortHike"}}Short hike{{/x-option}}
          {{#x-option value="longHike"}}Long hike{{/x-option}}
        {{/x-select}}
        </div>

        <div class="form-group">
          <label for="body">Body</label><br>
          {{textarea value=body id="body" rows="20" cols="120"}}
        </div>

        <div class="form-group">
          <label for="image">Upload Image:</label>
          {{image-upload url="/upload"}}
          {{input value=image id="image"}}
        </div>
        <button class="btn btn-primary"{{action 'submitEntry'}}>Submit</button>
      </form>
    </div>
{{else}}
    <button class="btn btn-primary" {{action 'showEntryForm'}}>New Entry</button>
{{/if}}
