<h1>{{model.posts.title}}</h1>

<h5>By: {{model.posts.author}}</h5>
<p>Created: {{model.posts.date}}</p>
<img class="postImage" src={{model.posts.image}}>
<hr>
<p>{{model.posts.body}}</p>
{{new-comment submitComment="submitComment" postId=model.posts.id post=model.posts}}
{{#each model.posts.comments as |comment|}}
  {{comment-list comment=comment}}
{{/each}}
