<h1>{{model.title}}</h1>

<h5>By: {{model.author}}</h5>
<p>Created: {{model.date}}</p>
<img class="postImage" src={{model.image}}>
<hr>

<p>{{model.body}}</p>
{{new-comment submitComment="submitComment"}}
{{comment-list}}
